{% extends "layouts/layout.html.twig" %}

{% set title = 'Champignons' %}

{% block content %}
    <div class="mt-3">
        <h2>Champignons</h2>
        <hr />
        <div class="row mt-4">
            {% for specie in species %}
                <div class="card col-10 col-xl-5 col-lg-5 col-sm-10 col-md-5 mb-5 ml-5 p-0">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="{{ specie.name_latin }}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">{{ specie.name_latin }} - {{ specie.name_french }}</a></h5>
                        <p class="card-text"><strong>Comestibilité :</strong> {{ specie.getEdibility.status }}</p>
                        <p class="card-text"><strong>Statut trophique :</strong> {{ specie.getTrophicStatus.status }}</p>
                        <p class="card-text"><strong>Région :</strong> {{ specie.getBiotope.region }}</p>
                        <a href="#" class="btn btn-primary btn-slm">Plus de détails</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}