{% extends "layouts/layout.html.twig" %}

{% set title = specie.name_latin %}

{% block content %}
    <div class="mt-3">
        <h2>{{ specie.name_latin }}</h2>
        <hr />

        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="ml-5">
                    <p><strong>Nom latin :</strong> {{ specie.name_latin }}</p>
                    <p><strong>Nom français :</strong> {{ specie.name_french }}</p>
                    <p><strong>Comestibilité :</strong> {{ specie.getEdibility.status }}</p>
                    <p><strong>Statut trophique :</strong> {{ specie.getTrophicStatus.status }}</p>
                    <p><strong>Région :</strong> {% if specie.biotope_id != other.id %}{{ specie.getBiotope.region }}{% else %}{{ specie.other_region }}{% endif %}</p>
                    <p><strong>Confusion :</strong> {% if specie.confusion %}{{ specie.confusion }}{% else %}Pas de confusion{% endif %}</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <img class="specie_img" src="http://via.placeholder.com/350x150" alt="{{ specie.name_latin }}">
            </div>
        </div>
    </div>

    {% if auth.role == 'admin' or auth.id == specie.creator_id %}
        <div class="mt-3">
            <h2>Options</h2>
            <hr />

            <div>
                <a href="#" class="btn btn-primary btn-slm mr-5">Modifier</a>
                <a href="{{ path_for('species.deleteOne', { 'specie_id': specie.id }) }}" class="btn btn-warning">Supprimer</a>
            </div>
        </div>
    {% endif %}
{% endblock %}