<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
    <a class="navbar-brand" href="{{ path_for('index') }}"><img id="logo-slm" src="{{ base_url() }}/assets/img/Logo_SLM.png"></a>
    <button class="navbar-toggler mb-2 border-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item  ml-4 {% if route == 'home' %}active{% endif %}">
            <a class="nav-link" href="{{ path_for('index') }}"><span class="fa fa-home mr-2"></span>Accueil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  ml-4  {% if route == 'species' %}active{% endif %}">
            <a class="nav-link" href="{{ path_for('species') }}"><span class="fa fa-search mr-2"></span>Rechercher un champignon<span class="sr-only">(current)</span></a>
        </li>
    </ul>

        {% if auth %}
            {% if auth.role == 'admin' %}
                <div class="dropdown mr-1 mb-2">
                    <a class="btn btn-light btn-lg dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ auth.first_name }} {{ auth.last_name }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item {% if route == 'user.view' %}active{% endif %}" href="{{ path_for('user.view') }}"><span class="fa fa-user mr-4"></span>Mon compte</a>
                        <hr/>
                        <a class="dropdown-item  align-middle" href="{{ path_for('pdf.listPreview') }}"><span class=" align-middle fa fa-list mr-4"></span>Voir ma liste d'impression</a>
                        <hr/>
                        <a class="dropdown-item" href="{{ path_for('pdf.listDownload') }}"><span class="fa fa-download mr-4"></span>Télécharger ma liste d'impression</a>
                    </div>
                </div>
            {% else %}
                <div class="dropdown mr-1 mb-2">
                    <a class="btn btn-light btn-lg dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ auth.first_name }} {{ auth.last_name }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item {% if route == 'user.view' %}active{% endif %}" href="{{ path_for('user.view') }}">Mon compte</a>
                        <a class="dropdown-item {% if route == 'user.species' %}active{% endif %}" href="{{ path_for('user.species') }}">Mes champignons</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path_for('pdf.listPreview') }}">Voir ma liste</a>
                        <a class="dropdown-item" href="{{ path_for('pdf.listDownload') }}">Télécharger ma liste</a>
                    </div>
                </div>
            {% endif %}
            <a class="btn btn-danger btn-lg mb-2" href="{{ path_for('user.logout') }}"><span class="fa fa-sign-out mr-2"></span>Déconnexion</a>
        {% else %}
            <a class="btn btn-light btn-lg mr-1 mb-2" href="{{ path_for('user.register.form') }}"><span class="fa fa-user-plus mr-2"></span>S'inscrire</a>
            <a class="btn btn-success btn-lg mb-2" href="{{ path_for('user.login.form') }}"><span class="fa fa-user mr-2"></span>Connexion</a>
        {% endif %}
    </div>
</nav>